{sub_dirs, ["rel"]}.
{deps, [
        {osmo_ss7, "1", {git, "git://git.osmocom.org/erlang/osmo_ss7", "master"}},
        {osmo_map, "1", {git, "git://git.osmocom.org/erlang/osmo_map", "master"}},
        {epcap, "0.03", {git, "git://git.osmocom.org/erlang/epcap", "master"}}
	]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
